* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root {
    --orange-500: #FF8A65;
    --orange-400: #FFB74D;
    --orange-300: #FFD166;
    --orange-200: #FFE8B6;
    --orange-100: #F5F5F7;
    --white: #FFFFFF;
    --blue-50: #B0B3C7;
    --blue-300: #4d5792;
    --blue-200: #3F4A8A;
    --blue-100: #2E2A5F;

    --primary-font: "Roboto", sans-serif;
}

body {
    background-color: var(--orange-500);
    padding: 40px;
}

.app {
    background-color: var(--orange-200);
    display: grid;
    grid-template-columns: 320px 1fr;
    height: 90vh;
    border-radius: 30px;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.281);
}

/*aside styles*/

aside {
    background-color: var(--blue-300);
    color: var(--orange-100);
}

aside header {
    background-color: var(--blue-200);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 50px;
    border-radius: 50%;
}

.profile h2 {
    font-size: 20px;
}

.menu {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.menu button {
    padding: 7px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--blue-200);
    color: var(--orange-100);
    transition: transform .2s;
    display: flex;
    align-items: center;

}

.menu button svg {
    width: 25px;
    height: 25px;
}

.menu button:hover {
    background-color: var(--blue-300);
    transform: translateY(-4px);
}

/* search input */

.search {
    background-color: var(--blue-200);
    padding: 5px;
    padding: 10px;

}

.search form input {
    width: 100%;
    display: block;
    border: none;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--blue-300);
    color: var(--orange-100);
    outline: none;

}

.search input::placeholder {
    color: var(--blue-50);
    opacity: 1;
}

/* menu de chats styles*/

.chats {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.chat {
    background-color: var(--blue-300);
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.chat img {
    border-radius: 50%;
    width: 50px;
}

.chat:hover {
    background-color: var(--blue-200);
    cursor: pointer;
    border-left: 3px solid var(--orange-400);
}

.empty {
    text-align: center;
    font-size: 14px;
    color: var(--blue-50);
    padding: 10px;
}

/* panel de chat */

.chat-header {
    background: linear-gradient(135deg,
            var(--orange-500) 0%,
            var(--orange-400) 40%,
            var(--orange-300) 80%);
    border-bottom: 1px solid var(--orange-300);
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    color: var(--blue-100)
}

.chat-header img {
    width: 50px;
    border-radius: 50%;
}

.chat-header p {
    color: var(--blue-300);
}

/* estilos de mensajes */

.chat-panel {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.messages {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}


.message {
    background-color: var(--orange-200);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.281);
    padding: 10px;
    width: 60%;
    color: var(--blue-100);
}

.me {
    align-self: end;
    background-color: var(--orange-300);
}

.message .time {
    color: var(--blue-200);
    font-size: 14px;
    margin-top: 10px;
    text-align: end;
}


/*footer de ventana de chat*/

footer {
    display: flex;
    background-color: var(--orange-300);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

footer button {
    width: 45px;
    height: 30px;
    padding: 3px;
}

footer svg {
    width: 100%;
    height: 100%;
}

footer .btn-attach {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--orange-100);
    transition: color .3;
}

footer .btn-attach:hover {
    color: var(--blue-200);
}

footer form {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 10px;
}

footer textarea {
    padding: 5px;
    resize: none;
    border-radius: 15px;
    width: 100%;
    border: none;
}

footer textarea:focus {
    outline: 1px solid var(--orange-500s);

}

footer .btn-send {
    background-color: var(--orange-400);
    border: none;
    color: var(--orange-100);
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
    transition: all .2s;

}

footer .btn-send:hover {
    background-color: var(--blue-200);
    transform: scale(0.95);
}


/*responsive design*/

@media (max-width:880px) {
    .app {
        grid-template-columns: 1fr;
    }

    aside {
        display: none;
    }
}