* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root {
    --orange-500: #E76F51;
    --orange-400: #EE8959;
    --orange-300: #F4A261;
    --orange-200: #ffe5c2;
    --orange-100: #f8f1df;
    --green-200: #BABB74;
    --green-100: #8AB17D;
    --blue-300: #2A9D8F;
    --blue-200: #287271;
    --blue-100: #264653;

    --primary-font: "Roboto", sans-serif;
}

body {
    background-color: var(--orange-500);
    padding: 40px;
}

.app {
    background-color: var(--orange-300);
    display: grid;
    grid-template-columns: 320px 1fr;
    height: 100vh;
}

/*aside styles*/

aside {
    background-color:var(--blue-100);
    color: var(--orange-100);
}

aside header {
    background-color: var(--blue-200);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 50px;
    border-radius: 50%;
}

.profile h2 {
    font-size: 20px;
}

.menu {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.menu button {
    padding: 7px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    background-color: var(--blue-200);
    color: var(--orange-100);
    transition: transform .2s;

}
.menu button svg {
    width: 20px;
}

.menu button:hover {
    background-color: var(--blue-300);
    transform: translateY(-4px);
}

/* search input */

.search {
    background-color: var(--blue-200);
    padding: 5px;
    padding: 10px;

}

.search form input {
    width: 100%;
    display: block;
    border: none;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--blue-300);
    color: var(--orange-100);
    outline: none;

}

.search input::placeholder {
  color: #91dfd6;
  opacity: 1; 
}

/* chats styles*/

.chats {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.chat {
    background-color: var(--blue-100);
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.chat img {
    border-radius: 50%;
    width: 50px;
}

.chat:hover {
  background-color: var(--blue-300);
  cursor: pointer;
  border-left: 3px solid var(--orange-400);
}


/* panel de chat */ 

.chat-header {
    background-color: var(--orange-200);
    border-bottom: 1px solid var(--orange-300);
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    color: var(--blue-100)
}
.chat-header img {
  width: 50px;
  border-radius: 50%;
}

.chat-header p {
  color: var(--blue-200);
}

/* estilos de mensajes */

.chat-panel {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.messages {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}


.message {
  background-color: var(--orange-100);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.281);
  padding: 10px;
  width: 60%;
}

.me {
  align-self: end;
  background-color: var(--orange-300);
}

.message .time {
  color: var(--blue-200);
  font-size: 14px;
  margin-top: 10px;
  text-align: end;
}




/*footer de ventana de chat*/

 footer {
    display: flex;
    background-color: var(--green-100);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
 }

 footer button {
    width: 45px;
    height: 30px;
    padding: 3px;
 }

 footer svg {
    width: 100%;
    height: 100%;
 }

 footer .btn-attach {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--orange-100);
    transition: color .3;
 }

 footer .btn-attach:hover {
    color: var(--orange-200);
 }

 footer form {
    display: flex;
    align-items: center;
    flex: 1;
 }

 footer textarea {
    padding: 5px;
    resize: none;
    border-radius: 15px;
    width: 100%;
    border: none;
 }
 footer textarea:focus {
    outline: 1px solid var(--green-200);
    
 }

 footer .btn-send {
    background-color: var(--orange-300);
    border: none;
    color: var(--orange-200);
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
    transition: all .2s;

 }
 footer .btn-send:hover {
    background-color: var(--orange-400);
    transform: scale(0.95);
 }